apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio-direct
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/planb438/minio-velero-gitops.git
    targetRevision: main
    path: minio
  destination:
    server: https://kubernetes.default.svc
    namespace: velero
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
